<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/cssFiles/chat.css">
    <script src="https://kit.fontawesome.com/a8dc18b367.js" crossorigin="anonymous"></script>
    <title>NodeChat</title>
</head>

<body>
    <nav>
        <div class="left-nav">
            <a href="#" class="logo">NodeChat</a>
            <a href="#">Account</a>
            <a href="#">Search</a>
            <a href='/help'>Help</a>
            <a href="#">Settings</a>
        </div>
        <div class="right-nav">
            Change Theme
        </div>
    </nav>

    <div class="appContainer">
        <div class="add-group">
            <!-- <div class="group-container"> -->
            <% data.groups.forEach( group => { %>
                <a href="/<%= group %>/textchannel/welcome"><%= group %></a>
            <% }); %>
            <div id='add-group'>+</div>
            <!-- THE MODAL BOX -->
            <div class="modal-box-container" id="invite-link-container"> 
                <div class="modal-box">
                    <div class="modal-content" width="70%" height="70%" style="display: flex;flex-direction: column;">
                        <div class="close-button-container" style="flex-grow: 1;">
                            <div class="close-button" onclick="closeModal(document.getElementById('invite-link-container'))">&times;</div>
                        </div>
                        <div id="invite-friends-link">
                            <!-- invite friends link will appear hear -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>

        <div class="group-options">
            <% data.textChannels.forEach( textChannel => { %>
                <div class='channels'>
                    <a href='/<%= data.currentGroup %>/textchannel/<%= textChannel %>' ><%= textChannel %></a>
                </div>
            <% }); %>
            <!-- <div class="channels">
                Lorem, ipsum dolor.
            </div>
            <div class="channels">
                Lorem, ipsum dolor.
            </div> -->
            <div class="channels" id='add-channel' onclick="openNewChannelModal()">
                +
            </div>
            <!-- THE MODAL BOX -->
            <div class="modal-box-container" id="create-new-channel"> 
                <div class="modal-box">
                    <div class="modal-content" width="70%" height="70%" style="display: flex;flex-direction: column;">
                        <div class="close-button-container" style="flex-grow: 1;">
                            <div class="close-button" onclick="closeModal(document.getElementById('create-new-channel'))">&times;</div>
                        </div>
                        <input type="text" placeholder="Channel name" id='channelNameInput' required/>
                        <button type="submit" onclick="createChannel()">Create Channel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <img src="tessanger-logo.png" alt="Tessenger" width="18%" height="auto"> -->
        <div class="main">
            <div class="message-container">
                <!-- <div class="left">
                <div class = "leftHeader">header</div>
                <div class = "leftContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus rem tenetur ipsum praesentium, consequuntur fugiat?
            </div>
            <div class="right">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam, odio.
            </div>
            <div class="notification">
                Lorem ipsum dolor sit amet.
            </div> -->
                <% data.messages.forEach( message => { %>
                    <% if(message.sender.reference !== data.user._id){ %>
                        <div class='left' >
                            <%= message.sender.name %>
                            <div class="leftContent">
                                <%= message.message %>
                            </div>
                        </div>
                    <% } else {%>
                        <div class="right">
                            <%= message.message %>
                        </div>
                    <% } %>
                <% }); %>
            </div>

            <div class="messageOptions">
                <textarea name="message" id="message" placeholder="Type here..." data-emojiable="true"></textarea>
                <div class="options-container">
                    <div class="container" onclick="clickedIcon()"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="opt-cont-dropdown show">
                        <div class="voice-message-options">
                            <div class="options" id="voice" onclick="sendVoiceMessage()"><i class="fas fa-microphone"></i></div>
                            <div class="options show" id="stop-voice"><i class="far fa-paper-plane"></i></div>
                            <div class="options show" id="delete-voice"><i class="fas fa-trash"></i></div>
                        </div>

                        <div class="options" id="camera" onclick="clickedCamera()"><i class="fas fa-camera"></i></div>

                        <!-- THE MODAL BOX -->
                        <div class="modal-box-container" > 
                            <div class="modal-box">
                                <div class="modal-content" width="70%" height="70%" style="display: flex;flex-direction: column;">
                                    <div class="close-button-container" style="flex-grow: 1;">
                                        <div class="close-button" id="camera-close-button">&times;</div>
                                    </div>
                                    <div class="camera-area">
                                        <video id="webcam" autoplay></video>
                                    </div>
                                    <div class="capture-options">
                                        <div class="options" id="capture-image" style="margin: 7px" ><i class="fas fa-camera-retro"></i></div>
                                        <div class="options" id="start-video" style="margin: 7px" ><i class="fas fa-video"></i></div>
                                        <div class="options" id="stop-video" style="margin: 7px" ><i class="far fa-stop-circle"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="options" id="file" onclick="clickedFileButton()"><i class="fas fa-paperclip"></i></div>

                        <!-- THE MODAL BOX FOR CAMERA-->
                        <div class="modal-box-container"> 
                            <div class="modal-box">
                                <div class="modal-content">
                                    <div class="close-button-container">
                                        <div class="close-button" onclick="closeModal(document.getElementsByClassName('modal-box-container')[1])">&times;</div>
                                    </div>
                                    <div id="modal-main-content">
                                        <div id="draggable">
                                            <div id="file-input-container">
                                                <label for="file-input" id="file-input-label">Upload File</label>
                                                <input type="file" name="file" id="file-input" class="show" onchange="uploadedFile(this.files)">
                                                <p>Or</p>
                                                <p>Drag file Here</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" onclick="send()"><i class="far fa-paper-plane"></i></button>
            </div>
        </div>

        <div class="rightSection">
            <div class='perticipants' onclick="inviteFriends()">
                Invite Friends
            </div>
            <% data.users.forEach( user => { %>
            <div class="perticipants">
                <a href='/users/<%=user.reference %>'>
                    <%= user.name %>
                    <% if(user.reference === data.user._id) { %>
                        (you)
                    <% } %>
                </a> 
            </div>
            <% }); %>
        </div>

        <!-- THE MODAL BOX -->
        <div class="modal-box-container" id="invite-link-container"> 
            <div class="modal-box">
                <div class="modal-content" width="70%" height="70%" style="display: flex;flex-direction: column;">
                    <div class="close-button-container" style="flex-grow: 1;">
                        <div class="close-button" onclick="closeModal(document.getElementById('invite-link-container'))">&times;</div>
                    </div>
                    <div id="invite-friends-link">
                        <!-- invite friends link will appear hear -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let userId = "<%= data.user._id %>";
        let name = '<%= data.user.name %>';
        let currentGroup = '<%= data.currentGroup %>';
        let currentGroupId = '<%= data.currentGroupId %>';
        let currentChannelId = '<%= data.currentTextChannel %>';
    </script>
    <script src="/frontend/jsFiles/chat.js"></script>

</body>

</html>