<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= name %> | NodeChat</title>
</head>
<body>
    Name: <%= name %>
    <% if(JSON.stringify(userId) !== JSON.stringify(thisUser._id)) {%>
        <button type="submit" onclick="sendFriendRequest(this)"> Send Friend Request</button>
    <% } %>

    <div id="friend-req-container">
        <% if(thisUser.recievedFriendRequests) { %>
            <% thisUser.recievedFriendRequests.foreach( request => { %>
                <div>
                    <div class="name">
                        <%= request.name %>
                    </div>
                    <button type="button" >Accept Request</button>
                </div>
            <% }) %>
        <% } %>
    </div>
    

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const thisUserId = '<%= thisUser._id %>';
        const thisUserName = '<%= thisUser.name %>';
        const thatUserId = '<%= userId %>';
        const thatUserName = '<%= name %>';
    </script>
    <script src="/frontend/jsFiles/profile.js"></script>
</body>
</html>